.AddBtn{
    margin-right: 40px;
}

.label{
  font-weight: bold;
}

.cardFooter {
  font-weight: bold;
  font-size: 25px;
  background-color: #00303F;
  color: white;
}

.no-padding {
  padding: 0px;
}

.todo-row {
  margin: 20px 0px;
}

.bottom-border {
  border-bottom: 1px solid #00303F;
  padding-top: 5px;
}

.red {
  color: red;
}

.modal-close-2 {
  background-color:#DCAE1D;
  color: black;
}

.modal-close {
  background-color:#DCAE1D;
  color: black;
  margin-left: 15px;
}

.cg-card {
  margin-top: 20px;
  border: solid #00303F;
    border-radius: 4px;
}

.petView{
  font-size: 37px;
  margin-top: 80px;
  color: white;
  margin-left: -10px;
}

.paw3{
  color:#DCAE1D;
}

.pet-img{
  height: 200px;
  width: 200px;
  position: relative;
  border: solid white;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.space3{
  margin-bottom: 100px;
}

.todo-body{
  border: solid 4px #00303F;
    border-radius: 4px;
}

.todo-btn{
  margin-left: 20px;
}

.modal-close{
  margin-left: 600px;
  margin-top: -48px;
}

.pet-close-modal{
  margin-left: 440px;
}