infoTitle {
  text-align: left;
  font-size: 6rem;
  padding-top: 4rem;
  color: white;
  margin-top: 20px;
  margin-left: 80px;
}

.info {
  color: white;
  padding-bottom: 20rem;
  padding-top: 3rem;
  line-height: 2rem;
  font-size: 20px;
  margin-left: 50px;
}


