.infoTitle {
    text-align: center;
    font-size: 6rem;
    padding-top: 4rem;
    color:#00303F;
    margin-top: 2rem;
  }
  
  .info {
    color: #00303F;
    padding-bottom: 20rem;
    padding-top: 3rem;
    line-height: 2rem;
    font-size: 20px;
  }

  .catpic{
    height: 500px;
    width: 400px;
    margin-top: 120px;
    border-style: solid;
    border-color: white;
  }
  