infoTitle {
  text-align: left;
  font-size: 6rem;
  padding-top: 4rem;
  color: white;
  margin-top: 20px;
  margin-left: 80px;
}

.info {
  color: white;
  padding-top: 3rem;
  line-height: 2rem;
  font-size: 20px;
  margin-left: 50px;
  text-shadow: 2px 2px 2px  black;
}

.all{
  font-size: 40px;
  margin-left: 120px;
  margin-top: -20px;
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px  black;
}

.all2{
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px  black;
}

.all3{
  font-size:20px;
}
