.float-left {
  float: left;
  margin-left: 20px;
  margin-top: 60px;
}

.pet{
  /* margin-left: 3px; */
  font-size: 25px;
 
}

.pet2{
  font-size: 30px;
  margin-left: 10px;
  
}

.pet-body{
  background-color: #00303F;
  color: white;
}

.owner{
  font-size: 37px;
  color:white;
  margin-top: 80px;
  margin-left: -15px;
  
}

.pet-card{
  margin-top: 60px;
  margin-bottom: 100px;
  float:left;
}

.pet-card2{
  margin-top: 60px;
  margin-bottom: 100px;
  float:left;
  font-size: 40px;
}

.DeleteBtn{
  margin-top: 30px;
  margin-left:80px;
}

.paw2{
  color: #00303F;
}

.createpetbtn{
  background-color: #DCAE1D;
  color: #00303F;
  margin-top: 20px;
  margin-left: 510px;
}

.no-pet{
  font-size: 60px;
  margin-left: 300px;
  margin-top: 10px;
}

.pet-img{
  height: 200px;
  width: 200px;
  position: relative;
  border: 1px solid #00303F;
    border-radius: 4px;
    padding: 5px;
    width: 100%;
}

.space1{
  margin-bottom: 200px;
}