
footer {
    background: #00303F;
    color: white;
    display: "block";
    padding: 0px;
    height: "10px";
    width: "100%";
    border-top: solid 5px white;
    padding-bottom: 5px;

    
  }
  
  .footerTitle,
  .linksTitle {
    font-size: 20px;
  }

  