.CareLoginBtn{
    background-color: #DCAE1D;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.OwnerLoginBtn{
    background-color: #DCAE1D;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
}

.createbtn{
    margin-left: 500px;
    background-color: #DCAE1D;
}


