.btn-link:hover {
  text-decoration: none;
}
 
h1{
  color: white;
  margin-top: -10px;
  padding-top: 40px;
  font-size: 80px;
  margin-left: 50px;
  text-shadow: 2px 4px 8px  black;
}

h2{
  color: white;
  margin-top: 100px;
  margin-left: 160px;
  font-size: 48px;

}

.background{
  background-color: #CAE4DB;
}

.LoginBtn{
  margin-top: 120px;
  margin-left: 210px;
  background-color:#DCAE1D;
  color: black;
  text-align: center;
}

.CreateAcctBtn{
  margin-left: 295px;
  background-color:#DCAE1D;
  color: black;
  margin-top: -77px;
}

.ModalHeader{
  background-color:#00303F;
}

.fas{
color: #DCAE1D;
text-align: center;
}

.Dog {
  background-image: url("../../assets/cat5.png");
  background-size: cover;
  background-position: top;
  margin-top: 40px;
  min-width: 800px;
  height: 660px;
  
}
.container-fluid {
  background-size: 100% 100%;
  background-attachment: fixed;
  width: 1170px;
  margin: 0 auto;
}

.account{
  font-size: 40px;
  margin-left: 70px;
}

.ownerbtn{
  background-color:#DCAE1D;
  margin-left: 50px;
  margin-top: 10px;
}

.caregiverbtn{
  background-color: #DCAE1D;
  margin-left: 40px;
  margin-top: 10px;
}

.modal-header {
  background-color: #00303F;
  color: white;
}

.modal-body{
  background-color: #CAE4DB;
}

.account1{
  margin-left: -1px;
}

.account2{
  margin-left: 40px;
}

.account3{
  margin-left: 15px;
}


