.cg{
    font-size: 37px;
    color: white;
    margin-top: 80px;
    margin-left: -10px;

}

.no-pet2{
    font-size: 50px;
    display: inline;
    margin-left: 450px;
    margin-top: 80px;
}

.space2{
    margin-bottom: 300px;
}

.pet-img{
    height: 200px;
    width: 200px;
    position: relative;
    border: solid white;
      border-radius: 4px;
      padding: 5px;
      width: 100%;
  }

  .card-cg{
      background-color: #00303F;
  }

  .card-title{
      color: white;
      font-size: 30px;
  }